In [1]:
from numpy import e
import requests
from bs4 import BeautifulSoup
from sqlalchemy import create_engine, Column, String, Float, Integer, MetaData, Table
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from urllib.parse import urljoin, quote
import sqlite3

In [2]:
BASE_URL = "https://www.digikala.com/"
API_BASE_URL = "https://api.digikala.com/v2/"
API_BASE_URL2 = "https://api.digikala.com/v1/categories/"
HEADERS = {
    "accept": "application/json, text/plain, */*",
    "accept-language": "en-US,en;q=0.9",
    "cookie": "tracker_glob_new=bDNPUOF; ab_test_experiments=[...]",
    "origin": "https://www.digikala.com",
    "priority": "u=1, i",
    "referer": "https://www.digikala.com/",
    "sec-ch-ua": '"Google Chrome";v="131", "Chromium";v="131", "Not_A Brand";v="24"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Windows"',
    "sec-fetch-dest": "empty",
    "sec-fetch-mode": "cors",
    "sec-fetch-site": "same-site",
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36",
    "x-web-client": "desktop",
    "x-web-optimize-response": "1",
}

In [3]:
response = requests.get(API_BASE_URL, headers=HEADERS)

if response.status_code == 200:
    data = response.json()
main_categories = None
for widget in data['data']['widgets']:
    if widget['type'] == 'main_categories_grid':
        main_categories = widget['data']['categories']
        break
if main_categories:
    categories_and_links = [{"title": category["title"], "link": category["url"]["uri"]} for category in main_categories]
    for item in categories_and_links:
        print(f"Category: {item['title']}, Link: {item['link']}")
else:
    print("No main categories grid found.")

Category: موبایل, Link: /landing/mobile/
Category: کالای دیجیتال, Link: /main/electronic-devices/
Category: خانه و آشپزخانه, Link: /main/home-and-kitchen/
Category: آرایشی بهداشتی, Link: /main/personal-appliance/
Category: خودرو و موتورسیکلت, Link: /main/vehicles-spare-parts/
Category: لوازم خانگی برقی, Link: /landing/category-home-appliance/
Category: ابزار آلات و تجهیزات, Link: /main/vehicles/
Category: مد و پوشاک, Link: /landing/apparel/
Category: طلا و نقره, Link: /landing/gold-jwelery-category-page/
Category: تجهیزات پزشکی و سلامت, Link: /landing/medical-health-equipment/
Category: کتاب، لوازم تحریر و هنر, Link: /main/book-and-media/
Category: ورزش و سفر, Link: /main/sport-entertainment/
Category: کارت هدیه و گیفت کارت, Link: /main/dk-ds-gift-card/
Category: کالای خوراکی و اساسی, Link: /main/food-beverage/
Category: اسباب بازی، کودک و نوزاد, Link: /main/mother-and-child/
Category: محصولات بومی و محلی, Link: /main/rural-products/

In [4]:
extracted_data = []
for item in categories_and_links:
    link = item['link']
    category_code = link.strip("/").split("/")[-1]
    category_code = category_code+"/"
    api_url = urljoin(API_BASE_URL2, category_code)
    response = requests.get(api_url, headers=HEADERS)
    if response.status_code == 200:
        data = response.json()
    if data['status']==301:
        new_url = data['redirect_url']['uri']
        api_url = urljoin(API_BASE_URL2, new_url)
        response = requests.get(api_url, headers=HEADERS)
    if response.status_code == 404:
        pass
    data = response.json()
    try:
        sub_categories = data['data']['sub_categories']   
        for subcat in sub_categories:
                    extracted_data.append((
                        subcat.get("id"),
                        subcat.get("title_fa"),
                        subcat.get("title_en"),
                        subcat.get("code"),
                        subcat.get("products_count", 0)
                    ))
    except Exception as e:
        print(e)

'data'
'data'
'data'
'data'

In [5]:
import pandas as pd
df_extracted_data = pd.DataFrame(extracted_data, columns=['id', 'title_fa', 'title_en', 'code', 'products_count'])
df_extracted_data

,id,title_fa,title_en,code,products_count
0,2,تبلت و کتابخوان,تبلت و کتابخوان,tablet-ebook-reader,43043
1,211,هدفون، هدست و هندزفری,هدفون، هدست و هندزفری,headphone,9314
2,3,لپ تاپ,لپ تاپ,laptop,83486
3,6,دوربین,دوربین,camera,10191
4,60,کنسول بازی,کنسول بازی,game-console,10072
...,...,...,...,...,...
99,10171,خانه و کاشانه,Rural Home,rural-home,3244
100,10173,پوشاک بومی و محلی,Rural Cloth And Apparel,rural-cloth-and-apparel,1216
101,10184,بازی و سرگرمی های بومی محلی,Rural Game and Fun,game-and-fun,210
102,10318,مواد غذایی ارگانیک,Rural Food and Beverage,rural-food-and-beverage,5149
103,11003,عطاری,Herbal,herbal,27669

In [ ]:
import mysql.connector
from urllib.parse import quote

# Database connection setup
password = "Ta@1382TD!"
encoded_password = quote(password)
DATABASE_URL = f"mysql+mysqlconnector://root:{encoded_password}@127.0.0.1/ecommerce_search"

# Connect to MySQL database
connection = mysql.connector.connect(
    user="root",
    password=password,
    host="127.0.0.1",
    database="ecommerce_search"
)

cursor = connection.cursor()

create_category_table_query = """
CREATE TABLE IF NOT EXISTS master_category_table (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title_fa VARCHAR(255) NOT NULL,
    title_en VARCHAR(255) NOT NULL,
    category_code VARCHAR(255) NOT NULL,
    products_count INT NOT NULL
);
"""
create_product_table_query = """
CREATE TABLE IF NOT EXISTS products (
    id INT AUTO_INCREMENT PRIMARY KEY,
    category_code VARCHAR(255) NOT NULL,
    product_id VARCHAR(255) NOT NULL,
    product_name_fa VARCHAR(255),
    product_name_en VARCHAR(255),
    rrp_price FLOAT,
    selling_price FLOAT,
    images TEXT,
    product_url VARCHAR(255)
);
"""

cursor.execute(create_category_table_query)
cursor.execute(create_product_table_query)

# Commit the transaction
connection.commit()


insert_category_query = """
INSERT INTO master_category_table (id, title_fa, title_en, category_code, products_count)
VALUES (%s, %s, %s, %s, %s);
"""

insert_product_query = """
INSERT INTO products (category_code, product_id, product_name_fa, product_name_en, rrp_price, selling_price, images, product_url)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s);
"""

category_data = df_extracted_data[['id', 'title_fa', 'title_en', 'code', 'products_count']].values.tolist()



cursor.executemany(insert_category_query, category_data)
cursor.execute(insert_category_query, category_data)
connection.commit()
cursor.close()
connection.close()

In [7]:
product_data = []
for index, row in df_extracted_data.iterrows():
    final_url = f"https://api.digikala.com/v1/categories/{row['code']}/search/"
    response = requests.get(final_url, headers=HEADERS)
    if response.status_code==200:
        data = response.json()
        pages = data['data']['pager']['total_pages']
        for i in range(1, max(10,pages + 1)):
            print(i)
            secondry_url = f"https://api.digikala.com/v1/categories/{row['code']}/search/?page={i}"
            response = requests.get(secondry_url, headers=HEADERS)
            
            if response.status_code == 200:
                data = response.json()
                products = data.get('data', {}).get('products', [])
                for product in products:
                        product_data.append((
                        product['default_variant']['price'].get('rrp_price', 'N/A'),
                        product['default_variant']['price'].get('selling_price', 'N/A'),
                        product['images'].get('main', {}).get('url', 'N/A'),
                        product.get('title_fa', 'N/A'),
                        product.get('title_en', 'N/A'),
                        product.get('url', 'N/A')
                    ))
product_data

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321